# =======================
# Frontend (React + Vite)
# =======================

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*


# =======================
# Backend (Python + Flask)
# =======================

# Byte-compiled / optimized / DLL files
/backend/__pycache__/
/backend/*.py[codz]
/backend/*$py.class

# C extensions
/backend/*.so

# Distribution / packaging
/backend/.Python
/backend/build/
/backend/develop-eggs/
/backend/dist/
/backend/downloads/
/backend/eggs/
/backend/.eggs/
/backend/lib/
/backend/lib64/
/backend/parts/
/backend/sdist/
/backend/var/
/backend/wheels/
/backend/share/python-wheels/
/backend/*.egg-info/
/backend/.installed.cfg
/backend/*.egg
/backend/MANIFEST

# PyInstaller
/backend/*.manifest
/backend/*.spec

# Installer logs
/backend/pip-log.txt
/backend/pip-delete-this-directory.txt

# Unit test / coverage reports
/backend/htmlcov/
/backend/.tox/
/backend/.nox/
/backend/.coverage
/backend/.coverage.*
/backend/.cache
/backend/nosetests.xml
/backend/coverage.xml
/backend/*.cover
/backend/*.py.cover
/backend/.hypothesis/
/backend/.pytest_cache/
/backend/cover/

# Translations
/backend/*.mo
/backend/*.pot

# Logs & DB
/backend/*.log
/backend/local_settings.py
/backend/db.sqlite3
/backend/db.sqlite3-journal

# Flask specific
/backend/instance/
/backend/.webassets-cache

# Scrapy
/backend/.scrapy

# Sphinx
/backend/docs/_build/

# PyBuilder
/backend/.pybuilder/
/backend/target/

# Jupyter / IPython
/backend/.ipynb_checkpoints
/backend/profile_default/
/backend/ipython_config.py

# Environments
/backend/.env
/backend/.envrc
/backend/.venv
/backend/env/
/backend/venv/
/backend/ENV/
/backend/env.bak/
/backend/venv.bak/

# IDEs and Editors
/backend/.spyderproject
/backend/.spyproject
/backend/.ropeproject
/backend/.vscode/

# PEP 582 & Pyflow/PDM
/backend/__pypackages__/
/backend/.pdm-python
/backend/.pdm-build/

# PyType, Pyre, Mypy, Ruff
/backend/.mypy_cache/
/backend/.dmypy.json
/backend/dmypy.json
/backend/.pyre/
/backend/.pytype/
/backend/.ruff_cache/

/.kiro/*

# SageMath
/backend/*.sage.py

# Celery
/backend/celerybeat-schedule
/backend/celerybeat.pid

# Abstra
/backend/.abstra/

# Marimo
/backend/marimo/_static/
/backend/marimo/_lsp/
/backend/__marimo__/

# Other
/backend/.pypirc
/backend/.cursorignore
/backend/.cursorindexingignore
